@CHARSET "ISO-8859-1";
body{
    background-color: #efefef;
}

#container{
	margin-top: 100px;
	text-align: center;
}

label, input {
   	display: inline-block;
   	width: 400px;
    margin-bottom: 20px;
    
}

input {
    border: 2px solid #dddddd;
}

#submit {
    background-color: #FFFFFF;
    height: 3em;
}

#submit:hover {
    background-color: #dddddd; 
}