@CHARSET "ISO-8859-1";

.tabel{
	height: 200px;
	overflow-y: auto;
}

table{
    width: 100%;	
}

.celinhoud {
    overflow: hidden;
}

progress {
	width: 5em;
}

.tab-content{
	margin-top: 1em;
	margin-left: 5px;
}


